.home {
  display: flex;
  flex-direction: column;
}

.header {
  height: 600px;
  background-image: url("../assets/img/bg-images/bg-big.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .title-filter-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.my-trips-title,
.all-trips-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
}

.title-btn-div {
  width: 95%;
  margin: 0 auto;
}

.my-trips {
  padding: 40px;
}

.all-trips {
  margin: 40px 0px;
}

.header .title-filter-container h1 {
  margin-bottom: 50px;
  color: white;
  width: 400px;
  text-shadow: 0 0 20px black;
}

.btn-show-all {
  font-size: 1.3rem;
  font-weight: 550;
  color: rgb(70, 70, 70);
}

.btn-show-all:hover {
  opacity: 0.8;
}


@media screen and (max-width: 650px) {
  .header {
    height: 730px;
    background-image: url("../assets/img/bg-images/bg-travel-small.jpg");
  }
  .header .title-filter-container{
    margin-bottom: 110px;
  }
  .all-trips {
    margin: 0px 0px;
  }
  .header .title-filter-container h1 {
    font-size: 1.6rem;
    max-width: 260px;
    margin-bottom: 110px;
  }

  .my-trips-title {
    margin: 0px 0px 20px 20px;
    font-size: 1.4rem;
  }

  .my-trips-title {
    margin: 0px 0px 20px 0px;
    font-size: 1.4rem;
  }

}