.home {
  display: flex;
  flex-direction: column;
}

.header {
  height: 600px;
  background-image: url("../assets/img/bg-images/bg-home.jpg");
  background-size: cover;
}

.my-trips-title, .all-trips-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
  // line-height: 33px;
}
.all-trips-title {
  margin-left: 80px;
}
.my-trips {
  padding: 40px;
}

.all-trips {
  margin: 40px 0px;
  // padding: 50px;
}

h1{
  position: absolute;
  top: 298px;
  left: 36%;
  color: white;
  width: 397px;
  text-shadow: 0 0 20px black;
}


@media screen and (max-width: 650px) {
  .header {
    height: 600px;
    background-image: url("../assets/img/bg-images/bg-home-respon.jpg");
    background-size: cover;
  }
  h1{
    position: absolute;
    top: 200px;
    left: 20%;
    font-size: 1.6rem;
    width: 257px;
  }
  .my-trips-title, .all-trips-title {
    margin: 0px 0px 20px 20px;
    font-size: 1.4rem;
  }
  .my-trips-title{
    margin: 0px 0px 20px 0px;
  }

}