.user-profile{
    // height: 100%;
}

.container{
    height: 100%;
    background: rgb(253, 253, 253);
    padding: 20px 50px 20px 50px;
    border-left: 0.5px #e5e5e5 solid;
    border-right: 0.5px #e5e5e5 solid;
    border-bottom: 0.5px #e5e5e5 solid;
    width: 60%;
    margin: 0 auto;
}
.user-details{
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
.img-user{
    width: 180px;
    box-shadow: 0 0 5px 2px black;
    border: 0.5px solid rgb(105, 105, 105);
    border-radius: 50%;
    padding: 2px;
}

.user-trips{
    margin-bottom: 20px;
}

.member-in{
    margin-bottom: 20px;
}

.pendin-in{
    margin-bottom: 20px;
}