.nav {
  width: 100%;
  padding: 0;
  background: none;
}

.colorBg {
  // background: linear-gradient(270deg, #7399fd 0%, #2ddaf2 100%);
  border-bottom: 1px black solid;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.menu {
  display: none;
}

.logo-container,
.navbar {
  height: 60px;
}

.logo-container {
  line-height: 6rem;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 2.2rem;
  font-weight: 500;
}

.navbar {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

button {
  margin-left: 20px;
}

a {}

.user-img {
  cursor: pointer;
  width: 30px;
  margin-left: 20px;
  border-radius: 50%;
}


@media screen and (max-width: 600px) {
  .navbar {
    max-width: 100%;
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: block;
  }

}