// // .my-style {
// //     // Style of the notification itself
  
// //     .notification-title {
// //       // Style for title line
// //     }
  
// //     .notification-content {
// //       // Style for content
// //     }
  
// //     &.my-type {
// //       /*
// //       Style for specific type of notification, will be applied when you
// //       call notification with "type" parameter:
// //       this.$notify({ type: 'my-type', message: 'Foo' })
// //       */
// //     }
// //   }



//   .vamos {
//     padding: 30px;
//     margin: 0 5px 5px;
  
//     font-size: 14px;
  
//     color: #ffffff;
//     background: #44A4FC;
//     border-left: 5px solid #187FE7;
  
//     &.warn {
//       background: #ffb648;
//       border-left-color: #f48a06;
//     }
  
//     &.error {
//       background: #E54D42;
//       border-left-color: #B82E24;
//     }
  
//     &.success {
//       background: rgb(104, 205, 175);
//       border-left-color: rgb(66, 168, 143);
//     }
//   }