
.member-container {
    padding: 10px;
}

.user-img {
    cursor: pointer;
    width: 60px;
    border-radius: 50%;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

i {
    cursor: pointer;
}