.user-details-_Pending-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}

.img-name-btns{
    margin: 0px 10px 5px 0px;

}

.user-img-_Pending {
    cursor: pointer;
    width: 40px;
    margin: 3px 0px 3px 0px;
    border-radius: 50%;
}

li {
    list-style-type: none;
}

i {
    cursor: pointer;
}
i:hover {
opacity: 0.7;
}