.requests {
    position: absolute;
    top: 61px;
    right: 186px;
    width: 450px;
    height: 200px;
    background: rgb(253, 253, 253);
    padding: 10px 10px 5px 10px;
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
    overflow: scroll;
    overflow-x: hidden;
}
ul{
    padding: 0;
}
.request{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 0.5px #e5e5e5 solid;
}