.trip-preview {
  list-style-type: none;
  cursor: pointer;
}

.like {
  color: red;
  float: right;
}
.likes-length{
  font-size: 1.1rem;
  font-weight: 600;
}
.avatars {
  position: relative;
  top: -90px;
  left: 6px;
}

.participants {
  margin-left: -5px;
}

.img-participant {
  box-shadow: 0 0 4px 0px black;

}

// .owner{
//   box-shadow: 0 0 4px 0px black;
//   z-index: 1111;
//   position: relative;
//   top: -23px;
//     right: -275px;
// }