.flex-container {
  width: 80%;
  max-width: 900px;
  // margin: 0 auto;
  margin-top: 340px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flex-item {
  height: 54px;
  padding: 4px 0 4px 0px;
  margin-bottom: 32px;
  position: relative;
}

.flex-item:not(:first-child) {
  border-left: 1px solid rgb(165, 165, 165);
}

h5 {
  position: absolute;
  top: -1.5rem;
  left: 0rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.8)

}

.destination-container {
  flex: 1 1 32%;
  background: #ffffff;
  border-radius: 4px 0 0 4px;
}

.from-container {
  flex: 1 4 17%;
  background: #fff;
}

.to-container {
  flex: 1 4 17%;
  background: #fff;
}

.type-container {
  flex: 1 1 32%;
  background: #fff;
  border-radius: 0 4px 4px 0;
}

@media only screen and (max-width: 1060px) {
  .flex-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 240px;
  }

  .destination-container {
    flex: 1 1 100%;
    border-radius: 4px;
  }

  .from-container {
    flex: 1 3 28%;
    border-radius: 4px 0 0 4px;
  }

  .to-container {
    flex: 1 3 28%;
  }
  .type-container {
    flex: 1 1 44%;
    border-radius: 0 4px 4px 0;
  }
}
@media only screen and (max-width: 700px) {

  h5{
    color: rgb(12, 12, 65);
  }
  
  .flex-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 4px;
  }

  .destination-container {
    flex: 1 1 100%;
  }

  .from-container {
    flex: 1 1 50%;
  }

  .to-container {
    flex: 31 1 50%;
  }
  .type-container {
    flex: 1 1 100%;
  }
}

