.trip-chat{
    position: fixed;
    bottom: 1px;
    right: 0px;
    height: 400px;
    width: 500px;
    background: rgb(253, 253, 253);
    border: 0.5px #e5e5e5 solid;
    border-radius: 5px;
    z-index: 1000;
}
.div-btn-close{
    height: 6%;
    width: 100%;
    border-bottom: 0.5px #e5e5e5 solid;
}
.btn-close{
    padding: 0px 0px 20px 0px;
}
.btn-close:hover{
    opacity: 0.7;
}
.group-chat {
    padding: 10px;
    height: 81%;
    overflow: scroll;
    overflow-x: hidden;
}

.new-msg-area {
    height: 13%;
    width: 100%;
    box-shadow: inset 0px 0px 1px 0px black
}

li{
    margin-bottom: 5px;
    width: max-content;
    list-style-type: none;
    background-color: rgba(39, 39, 39, 0.774);
    color: whitesmoke;
    border-radius: 5px;
    padding: 6px;
}

.new-msg-input {
    padding: 5px;
    align-self: center;
    width: 92%;
    height: 100%;
}
.new-msg-input:focus {
    outline: none;
}

i{
    padding: 5px;
    align-self: center;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
}


@media screen and (max-width: 650px) {
    .trip-chat{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .trip-chat{
        width: 350px;
    }
}