/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-asian-food-rice: unicode(ea02);
$icon-beach-parasol-water: unicode(ea03);
$icon-camping-tent-2: unicode(ea04);
$icon-canoe-single: unicode(ea05);
$icon-color-painting-palette: unicode(ea06);
$icon-day-sunrise-2: unicode(ea07);
$icon-history-vase: unicode(ea08);
$icon-megaphone: unicode(ea09);
$icon-outdoors-horse: unicode(ea0a);
$icon-religion-islam-pray: unicode(ea0b);
$icon-scooter: unicode(ea0c);
$icon-trekking-person: unicode(ea0d);
$icon-close: unicode(ea0e);
$icon-check-1: unicode(ea0f);
$icon-check-circle: unicode(ea10);
$icon-delete-1-1: unicode(ea11);
$icon-delete-1-2: unicode(ea12);
$icon-delete-2: unicode(ea13);
$icon-delete: unicode(ea14);
$icon-bin: unicode(ea15);
$icon-maps-search: unicode(ea16);
$icon-maps-pin-1: unicode(ea17);
$icon-maps: unicode(ea18);
$icon-maps-pin-2: unicode(ea19);
$icon-sync-location: unicode(ea1a);
$icon-location-user: unicode(ea1b);
$icon-pin-location-1: unicode(ea1c);
$icon-social-media-twitter: unicode(ea1d);
$icon-social-media-facebook-1: unicode(ea1e);
$icon-phone-dial: unicode(ea1f);
$icon-phone: unicode(ea20);
$icon-network-www: unicode(ea21);
$icon-time-clock-circle: unicode(ea22);
$icon-love-it-circle: unicode(ea23);

.icon-asian-food-rice::before {
  content: $icon-asian-food-rice;
}

.icon-beach-parasol-water::before {
  content: $icon-beach-parasol-water;
}

.icon-camping-tent-2::before {
  content: $icon-camping-tent-2;
}

.icon-canoe-single::before {
  content: $icon-canoe-single;
}

.icon-color-painting-palette::before {
  content: $icon-color-painting-palette;
}

.icon-day-sunrise-2::before {
  content: $icon-day-sunrise-2;
}

.icon-history-vase::before {
  content: $icon-history-vase;
}

.icon-megaphone::before {
  content: $icon-megaphone;
}

.icon-outdoors-horse::before {
  content: $icon-outdoors-horse;
}

.icon-religion-islam-pray::before {
  content: $icon-religion-islam-pray;
}

.icon-scooter::before {
  content: $icon-scooter;
}

.icon-trekking-person::before {
  content: $icon-trekking-person;
}

.icon-close::before {
  content: $icon-close;
}

.icon-check-1::before {
  content: $icon-check-1;
}

.icon-check-circle::before {
  content: $icon-check-circle;
}

.icon-delete-1-1::before {
  content: $icon-delete-1-1;
}

.icon-delete-1-2::before {
  content: $icon-delete-1-2;
}

.icon-delete-2::before {
  content: $icon-delete-2;
}

.icon-delete::before {
  content: $icon-delete;
}

.icon-bin::before {
  content: $icon-bin;
}

.icon-maps-search::before {
  content: $icon-maps-search;
}

.icon-maps-pin-1::before {
  content: $icon-maps-pin-1;
}

.icon-maps::before {
  content: $icon-maps;
}

.icon-maps-pin-2::before {
  content: $icon-maps-pin-2;
}

.icon-sync-location::before {
  content: $icon-sync-location;
}

.icon-location-user::before {
  content: $icon-location-user;
}

.icon-pin-location-1::before {
  content: $icon-pin-location-1;
}

.icon-social-media-twitter::before {
  content: $icon-social-media-twitter;
}

.icon-social-media-facebook-1::before {
  content: $icon-social-media-facebook-1;
}

.icon-phone-dial::before {
  content: $icon-phone-dial;
}

.icon-phone::before {
  content: $icon-phone;
}

.icon-network-www::before {
  content: $icon-network-www;
}

.icon-time-clock-circle::before {
  content: $icon-time-clock-circle;
}

.icon-love-it-circle::before {
  content: $icon-love-it-circle;
}

